.nav_boton1{
    
    margin-left: auto;
    align-items: center;
    background-color:$blanco;
    height: 40px;
    width: 100px;
    margin-top: 6px;
    @media only screen and (max-width: 768px) {
        display: none;
    }
    &:hover{
        color: $bazul;
    }
    &:focus{
        color: $silv;
    }
}

.nav_boton2{
    background-color: $bazul;
    color: $blanco;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    margin-top: 6px;
    margin-right: 50px;
    
    @media only screen and (max-width: 768px) {
        display: none;
    }
    &:hover{
        background-color: $salmon;
    }
    &:focus{
        background-color: $silv;
    }
 
}
.con3_boton1{
    background-color: $bazul;
    color: $blanco;
    margin-left: 5px;
    height: 40px;
    width: 280px;
    margin-top: 5px;
    margin-right: 5px;
   
    &:hover{
        background-color: $salmon;
    }
    &:focus{
        background-color: $silv;
    }
    @media only screen and (max-width: 768px){
        width: 230px;
        margin:auto;
}}