$blanco: #FFF;
$platino: #E8E8E8;
$gris: #BABABA;
$salmon: #EE9480;
$melon: #F4BAAE;
$palo: #FADFDA;
$bazul: #2AB7CA;
$mizul: #77D1DD;
$lazul: #B1E4EB;
$onyx: #333745;
$rais: #221D23;
$spani: #8F9199;
$nicke: #726F73;
$laven: #C7C8CC;
$silv: #AEACAF;
// Font Variables
$open:'Open Sans', sans-serif;;   
$rale:'Raleway', sans-serif;