html {
    scroll-behavior: smooth;
  }
nav{
     padding: 40px;
     color:$onyx;
}
nav ul{
    display: flex;    
}
nav ul li{
    padding: 1em;  
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.nav_logo{
    margin-left: 50px;   
}
#nav_barra{
    margin-left: auto;
    margin-right: 25px;
    margin-top: 5px;
    &:hover{color:$salmon}
    @media only screen and (min-width: 769px) {
        display: none;
        
    }
}